html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    color: #000;
    background:url('../images/bg.svg') no-repeat;
    background-size: cover;
    font:14px 'PingFangSC-Light', 'Microsoft YaHei', "hiragino sans gb", '黑体', '宋体';
    color: #4d4d4d;
}